@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
    box-sizing: border-box;

    @apply p-0 m-0
}
body {
    @apply bg-gray
}

.outline-title {
    text-shadow:
        1px 1px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

h1 { @apply text-mid-gray text-xl lg:text-7xl tracking-[0.4em] lg:tracking-[0.8em] font-semibold }
